In [2]:
!pip install pandas
!pip install --upgrade pip
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('uszips.csv')

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 9.9 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /home/vscode/.local/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.11/site-packages (from pandas) (2022.6)
Collecting numpy>=1.21.0
  Downloading numpy-1.23.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 9.7 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.23.5 pandas-1.5.2

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: pip install --upgrade pip

In [3]:
df.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16773.0,100.5,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37083.0,472.1,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,45652.0,513.2,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,6231.0,54.3,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26502.0,275.7,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [17]:
selected_columns=df.loc[:, ['zip', 'state_id']]
selected_columns.head()
len(selected_columns.index)

33788

In [21]:
# Group the rows of the DataFrame by the 'state_id' column
groups = df.groupby('state_id')

# Convert each group to a dictionary where the keys are the 'state_id' values and the values are the rows from the DataFrame
dicts = {name: group.to_dict(orient='state_id') for name, group in groups}

print(dicts)

/tmp/ipykernel_8619/3740819725.py:5: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  dicts = {name: group.to_dict(orient='state_id') for name, group in groups}

{'AK': {'zip': state_id
AK    99501
AK    99502
AK    99503
AK    99504
AK    99505
      ...
AK    99923
AK    99925
AK    99926
AK    99927
AK    99929
Name: zip, Length: 245, dtype: int64, 'state_name': state_id
AK    Alaska
AK    Alaska
AK    Alaska
AK    Alaska
AK    Alaska
       ...
AK    Alaska
AK    Alaska
AK    Alaska
AK    Alaska
AK    Alaska
Name: state_name, Length: 245, dtype: object, 'zcta': state_id
AK    True
AK    True
AK    True
AK    True
AK    True
      ...
AK    True
AK    True
AK    True
AK    True
AK    True
Name: zcta, Length: 245, dtype: bool, 'parent_zcta': state_id
AK   NaN
AK   NaN
AK   NaN
AK   NaN
AK   NaN
      ..
AK   NaN
AK   NaN
AK   NaN
AK   NaN
AK   NaN
Name: parent_zcta, Length: 245, dtype: float64}, 'AL': {'zip': state_id
AL    35004
AL    35005
AL    35006
AL    35007
AL    35010
      ...
AL    36916
AL    36919
AL    36921
AL    36922
AL    36925
Name: zip, Length: 656, dtype: int64, 'state_name': state_id
AL    Alabama
AL    Alabama
AL    Alabama
AL    Alabama
AL    Alabama
       ...
AL    Alabama
AL    Alabama
AL    Alabama
AL    Alabama
AL    Alabama
Name: state_name, Length: 656, dtype: object, 'zcta': state_id
AL    True
AL    True
AL    True
AL    True
AL    True
      ...
AL    True
AL    True
AL    True
AL    True
AL    True
Name: zcta, Length: 656, dtype: bool, 'parent_zcta': state_id
AL   NaN
AL   NaN
AL   NaN
AL   NaN
AL   NaN
      ..
AL   NaN
AL   NaN
AL   NaN
AL   NaN
AL   NaN
Name: parent_zcta, Length: 656, dtype: float64}, 'AR': {'zip': state_id
AR    71601
AR    71602
AR    71603
AR    71630
AR    71631
      ...
AR    72952
AR    72955
AR    72956
AR    72958
AR    72959
Name: zip, Length: 615, dtype: int64, 'state_name': state_id
AR    Arkansas
AR    Arkansas
AR    Arkansas
AR    Arkansas
AR    Arkansas
        ...
AR    Arkansas
AR    Arkansas
AR    Arkansas
AR    Arkansas
AR    Arkansas
Name: state_name, Length: 615, dtype: object, 'zcta': state_id
AR    True
AR    True
AR    True
AR    True
AR    True
      ...
AR    True
AR    True
AR    True
AR    True
AR    True
Name: zcta, Length: 615, dtype: bool, 'parent_zcta': state_id
AR   NaN
AR   NaN
AR   NaN
AR   NaN
AR   NaN
      ..
AR   NaN
AR   NaN
AR   NaN
AR   NaN
AR   NaN
Name: parent_zcta, Length: 615, dtype: float64}, 'AS': {'zip': state_id
AS    96799
Name: zip, dtype: int64, 'state_name': state_id
AS    American Samoa
Name: state_name, dtype: object, 'zcta': state_id
AS    True
Name: zcta, dtype: bool, 'parent_zcta': state_id
AS   NaN
Name: parent_zcta, dtype: float64}, 'AZ': {'zip': state_id
AZ    85003
AZ    85004
AZ    85006
AZ    85007
AZ    85008
      ...
AZ    86540
AZ    86544
AZ    86545
AZ    86547
AZ    86556
Name: zip, Length: 417, dtype: int64, 'state_name': state_id
AZ    Arizona
AZ    Arizona
AZ    Arizona
AZ    Arizona
AZ    Arizona
       ...
AZ    Arizona
AZ    Arizona
AZ    Arizona
AZ    Arizona
AZ    Arizona
Name: state_name, Length: 417, dtype: object, 'zcta': state_id
AZ    True
AZ    True
AZ    True
AZ    True
AZ    True
      ...
AZ    True
AZ    True
AZ    True
AZ    True
AZ    True
Name: zcta, Length: 417, dtype: bool, 'parent_zcta': state_id
AZ   NaN
AZ   NaN
AZ   NaN
AZ   NaN
AZ   NaN
      ..
AZ   NaN
AZ   NaN
AZ   NaN
AZ   NaN
AZ   NaN
Name: parent_zcta, Length: 417, dtype: float64}, 'CA': {'zip': state_id
CA    90001
CA    90002
CA    90003
CA    90004
CA    90005
      ...
CA    96146
CA    96148
CA    96150
CA    96155
CA    96161
Name: zip, Length: 1802, dtype: int64, 'state_name': state_id
CA    California
CA    California
CA    California
CA    California
CA    California
         ...
CA    California
CA    California
CA    California
CA    California
CA    California
Name: state_name, Length: 1802, dtype: object, 'zcta': state_id
CA    True
CA    True
CA    True
CA    True
CA    True
      ...
CA    True
CA    True
CA    True
CA    True
CA    True
Name: zcta, Length: 1802, dtype: bool, 'parent_zcta': state_id
CA   NaN
CA   NaN
CA   NaN
CA   NaN
CA   NaN
      ..
CA   NaN
CA   NaN
CA   NaN
CA   NaN
CA   NaN
Name: parent_zcta, Length: 1802, dtype: float64}, 'CO': {'zip': state_id
CO    80002
CO    80003
CO    80004
CO    80005
CO    80007
      ...
CO    81653
CO    81654
CO    81655
CO    81656
CO    81657
Name: zip, Length: 527, dtype: int64, 'state_name': state_id
CO    Colorado
CO    Colorado
CO    Colorado
CO    Colorado
CO    Colorado
        ...
CO    Colorado
CO    Colorado
CO    Colorado
CO    Colorado
CO    Colorado
Name: state_name, Length: 527, dtype: object, 'zcta': state_id
CO    True
CO    True
CO    True
CO    True
CO    True
      ...
CO    True
CO    True
CO    True
CO    True
CO    True
Name: zcta, Length: 527, dtype: bool, 'parent_zcta': state_id
CO   NaN
CO   NaN
CO   NaN
CO   NaN
CO   NaN
      ..
CO   NaN
CO   NaN
CO   NaN
CO   NaN
CO   NaN
Name: parent_zcta, Length: 527, dtype: float64}, 'CT': {'zip': state_id
CT    6001
CT    6002
CT    6010
CT    6013
CT    6016
      ...
CT    6902
CT    6903
CT    6905
CT    6906
CT    6907
Name: zip, Length: 288, dtype: int64, 'state_name': state_id
CT    Connecticut
CT    Connecticut
CT    Connecticut
CT    Connecticut
CT    Connecticut
         ...
CT    Connecticut
CT    Connecticut
CT    Connecticut
CT    Connecticut
CT    Connecticut
Name: state_name, Length: 288, dtype: object, 'zcta': state_id
CT    True
CT    True
CT    True
CT    True
CT    True
      ...
CT    True
CT    True
CT    True
CT    True
CT    True
Name: zcta, Length: 288, dtype: bool, 'parent_zcta': state_id
CT   NaN
CT   NaN
CT   NaN
CT   NaN
CT   NaN
      ..
CT   NaN
CT   NaN
CT   NaN
CT   NaN
CT   NaN
Name: parent_zcta, Length: 288, dtype: float64}, 'DC': {'zip': state_id
DC    20001
DC    20002
DC    20003
DC    20004
DC    20005
DC    20006
DC    20007
DC    20008
DC    20009
DC    20010
DC    20011
DC    20012
DC    20015
DC    20016
DC    20017
DC    20018
DC    20019
DC    20020
DC    20024
DC    20032
DC    20036
DC    20037
DC    20045
DC    20052
DC    20057
DC    20059
DC    20064
DC    20204
DC    20220
DC    20230
DC    20240
DC    20245
DC    20250
DC    20260
DC    20317
DC    20319
DC    20373
DC    20388
DC    20390
DC    20408
DC    20415
DC    20418
DC    20422
DC    20427
DC    20431
DC    20510
DC    20515
DC    20520
DC    20530
DC    20535
DC    20540
DC    20542
DC    20551
DC    20560
DC    20565
DC    20566
DC    20591
Name: zip, dtype: int64, 'state_name': state_id
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
DC    District of Columbia
Name: state_name, dtype: object, 'zcta': state_id
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
DC    True
Name: zcta, dtype: bool, 'parent_zcta': state_id
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
DC   NaN
Name: parent_zcta, dtype: float64}, 'DE': {'zip': state_id
DE    19701
DE    19702
DE    19703
DE    19706
DE    19707
      ...
DE    19973
DE    19975
DE    19977
DE    19979
DE    19980
Name: zip, Length: 68, dtype: int64, 'state_name': state_id
DE    Delaware
DE    Delaware
DE    Delaware
DE    Delaware
DE    Delaware
        ...
DE    Delaware
DE    Delaware
DE    Delaware
DE    Delaware
DE    Delaware
Name: state_name, Length: 68, dtype: object, 'zcta': state_id
DE    True
DE    True
DE    True
DE    True
DE    True
      ...
DE    True
DE    True
DE    True
DE    True
DE    True
Name: zcta, Length: 68, dtype: bool, 'parent_zcta': state_id
DE   NaN
DE   NaN
DE   NaN
DE   NaN
DE   NaN
      ..
DE   NaN
DE   NaN
DE   NaN
DE   NaN
DE   NaN
Name: parent_zcta, Length: 68, dtype: float64}, 'FL': {'zip': state_id
FL    32003
FL    32008
FL    32009
FL    32011
FL    32013
      ...
FL    34987
FL    34990
FL    34994
FL    34996
FL    34997
Name: zip, Length: 1011, dtype: int64, 'state_name': state_id
FL    Florida
FL    Florida
FL    Florida
FL    Florida
FL    Florida
       ...
FL    Florida
FL    Florida
FL    Florida
FL    Florida
FL    Florida
Name: state_name, Length: 1011, dtype: object, 'zcta': state_id
FL    True
FL    True
FL    True
FL    True
FL    True
      ...
FL    True
FL    True
FL    True
FL    True
FL    True
Name: zcta, Length: 1011, dtype: bool, 'parent_zcta': state_id
FL   NaN
FL   NaN
FL   NaN
FL   NaN
FL   NaN
      ..
FL   NaN
FL   NaN
FL   NaN
FL   NaN
FL   NaN
Name: parent_zcta, Length: 1011, dtype: float64}, 'GA': {'zip': state_id
GA    30002
GA    30004
GA    30005
GA    30008
GA    30009
      ...
GA    39870
GA    39877
GA    39885
GA    39886
GA    39897
Name: zip, Length: 751, dtype: int64, 'state_name': state_id
GA    Georgia
GA    Georgia
GA    Georgia
GA    Georgia
GA    Georgia
       ...
GA    Georgia
GA    Georgia
GA    Georgia
GA    Georgia
GA    Georgia
Name: state_name, Length: 751, dtype: object, 'zcta': state_id
GA    True
GA    True
GA    True
GA    True
GA    True
      ...
GA    True
GA    True
GA    True
GA    True
GA    True
Name: zcta, Length: 751, dtype: bool, 'parent_zcta': state_id
GA   NaN
GA   NaN
GA   NaN
GA   NaN
GA   NaN
      ..
GA   NaN
GA   NaN
GA   NaN
GA   NaN
GA   NaN
Name: parent_zcta, Length: 751, dtype: float64}, 'GU': {'zip': state_id
GU    96910
GU    96913
GU    96915
GU    96916
GU    96917
GU    96928
GU    96929
Name: zip, dtype: int64, 'state_name': state_id
GU    Guam
GU    Guam
GU    Guam
GU    Guam
GU    Guam
GU    Guam
GU    Guam
Name: state_name, dtype: object, 'zcta': state_id
GU    True
GU    True
GU    True
GU    True
GU    True
GU    True
GU    True
Name: zcta, dtype: bool, 'parent_zcta': state_id
GU   NaN
GU   NaN
GU   NaN
GU   NaN
GU   NaN
GU   NaN
GU   NaN
Name: parent_zcta, dtype: float64}, 'HI': {'zip': state_id
HI    96701
HI    96703
HI    96704
HI    96705
HI    96706
      ...
HI    96857
HI    96858
HI    96859
HI    96860
HI    96863
Name: zip, Length: 97, dtype: int64, 'state_name': state_id
HI    Hawaii
HI    Hawaii
HI    Hawaii
HI    Hawaii
HI    Hawaii
       ...
HI    Hawaii
HI    Hawaii
HI    Hawaii
HI    Hawaii
HI    Hawaii
Name: state_name, Length: 97, dtype: object, 'zcta': state_id
HI    True
HI    True
HI    True
HI    True
HI    True
      ...
HI    True
HI    True
HI    True
HI    True
HI    True
Name: zcta, Length: 97, dtype: bool, 'parent_zcta': state_id
HI   NaN
HI   NaN
HI   NaN
HI   NaN
HI   NaN
      ..
HI   NaN
HI   NaN
HI   NaN
HI   NaN
HI   NaN
Name: parent_zcta, Length: 97, dtype: float64}, 'IA': {'zip': state_id
IA    50001
IA    50002
IA    50003
IA    50005
IA    50006
      ...
IA    52802
IA    52803
IA    52804
IA    52806
IA    52807
Name: zip, Length: 970, dtype: int64, 'state_name': state_id
IA    Iowa
IA    Iowa
IA    Iowa
IA    Iowa
IA    Iowa
      ...
IA    Iowa
IA    Iowa
IA    Iowa
IA    Iowa
IA    Iowa
Name: state_name, Length: 970, dtype: object, 'zcta': state_id
IA    True
IA    True
IA    True
IA    True
IA    True
      ...
IA    True
IA    True
IA    True
IA    True
IA    True
Name: zcta, Length: 970, dtype: bool, 'parent_zcta': state_id
IA   NaN
IA   NaN
IA   NaN
IA   NaN
IA   NaN
      ..
IA   NaN
IA   NaN
IA   NaN
IA   NaN
IA   NaN
Name: parent_zcta, Length: 970, dtype: float64}, 'ID': {'zip': state_id
ID    83201
ID    83202
ID    83203
ID    83204
ID    83209
      ...
ID    83871
ID    83872
ID    83873
ID    83874
ID    83876
Name: zip, Length: 279, dtype: int64, 'state_name': state_id
ID    Idaho
ID    Idaho
ID    Idaho
ID    Idaho
ID    Idaho
      ...
ID    Idaho
ID    Idaho
ID    Idaho
ID    Idaho
ID    Idaho
Name: state_name, Length: 279, dtype: object, 'zcta': state_id
ID    True
ID    True
ID    True
ID    True
ID    True
      ...
ID    True
ID    True
ID    True
ID    True
ID    True
Name: zcta, Length: 279, dtype: bool, 'parent_zcta': state_id
ID   NaN
ID   NaN
ID   NaN
ID   NaN
ID   NaN
      ..
ID   NaN
ID   NaN
ID   NaN
ID   NaN
ID   NaN
Name: parent_zcta, Length: 279, dtype: float64}, 'IL': {'zip': state_id
IL    60002
IL    60004
IL    60005
IL    60007
IL    60008
      ...
IL    62995
IL    62996
IL    62997
IL    62998
IL    62999
Name: zip, Length: 1396, dtype: int64, 'state_name': state_id
IL    Illinois
IL    Illinois
IL    Illinois
IL    Illinois
IL    Illinois
        ...
IL    Illinois
IL    Illinois
IL    Illinois
IL    Illinois
IL    Illinois
Name: state_name, Length: 1396, dtype: object, 'zcta': state_id
IL    True
IL    True
IL    True
IL    True
IL    True
      ...
IL    True
IL    True
IL    True
IL    True
IL    True
Name: zcta, Length: 1396, dtype: bool, 'parent_zcta': state_id
IL   NaN
IL   NaN
IL   NaN
IL   NaN
IL   NaN
      ..
IL   NaN
IL   NaN
IL   NaN
IL   NaN
IL   NaN
Name: parent_zcta, Length: 1396, dtype: float64}, 'IN': {'zip': state_id
IN    46001
IN    46011
IN    46012
IN    46013
IN    46016
      ...
IN    47992
IN    47993
IN    47994
IN    47995
IN    47997
Name: zip, Length: 807, dtype: int64, 'state_name': state_id
IN    Indiana
IN    Indiana
IN    Indiana
IN    Indiana
IN    Indiana
       ...
IN    Indiana
IN    Indiana
IN    Indiana
IN    Indiana
IN    Indiana
Name: state_name, Length: 807, dtype: object, 'zcta': state_id
IN    True
IN    True
IN    True
IN    True
IN    True
      ...
IN    True
IN    True
IN    True
IN    True
IN    True
Name: zcta, Length: 807, dtype: bool, 'parent_zcta': state_id
IN   NaN
IN   NaN
IN   NaN
IN   NaN
IN   NaN
      ..
IN   NaN
IN   NaN
IN   NaN
IN   NaN
IN   NaN
Name: parent_zcta, Length: 807, dtype: float64}, 'KS': {'zip': state_id
KS    66002
KS    66006
KS    66007
KS    66008
KS    66010
      ...
KS    67950
KS    67951
KS    67952
KS    67953
KS    67954
Name: zip, Length: 704, dtype: int64, 'state_name': state_id
KS    Kansas
KS    Kansas
KS    Kansas
KS    Kansas
KS    Kansas
       ...
KS    Kansas
KS    Kansas
KS    Kansas
KS    Kansas
KS    Kansas
Name: state_name, Length: 704, dtype: object, 'zcta': state_id
KS    True
KS    True
KS    True
KS    True
KS    True
      ...
KS    True
KS    True
KS    True
KS    True
KS    True
Name: zcta, Length: 704, dtype: bool, 'parent_zcta': state_id
KS   NaN
KS   NaN
KS   NaN
KS   NaN
KS   NaN
      ..
KS   NaN
KS   NaN
KS   NaN
KS   NaN
KS   NaN
Name: parent_zcta, Length: 704, dtype: float64}, 'KY': {'zip': state_id
KY    40003
KY    40004
KY    40006
KY    40007
KY    40008
      ...
KY    42765
KY    42776
KY    42782
KY    42784
KY    42788
Name: zip, Length: 780, dtype: int64, 'state_name': state_id
KY    Kentucky
KY    Kentucky
KY    Kentucky
KY    Kentucky
KY    Kentucky
        ...
KY    Kentucky
KY    Kentucky
KY    Kentucky
KY    Kentucky
KY    Kentucky
Name: state_name, Length: 780, dtype: object, 'zcta': state_id
KY    True
KY    True
KY    True
KY    True
KY    True
      ...
KY    True
KY    True
KY    True
KY    True
KY    True
Name: zcta, Length: 780, dtype: bool, 'parent_zcta': state_id
KY   NaN
KY   NaN
KY   NaN
KY   NaN
KY   NaN
      ..
KY   NaN
KY   NaN
KY   NaN
KY   NaN
KY   NaN
Name: parent_zcta, Length: 780, dtype: float64}, 'LA': {'zip': state_id
LA    70001
LA    70002
LA    70003
LA    70005
LA    70006
      ...
LA    71480
LA    71483
LA    71485
LA    71486
LA    71497
Name: zip, Length: 539, dtype: int64, 'state_name': state_id
LA    Louisiana
LA    Louisiana
LA    Louisiana
LA    Louisiana
LA    Louisiana
        ...
LA    Louisiana
LA    Louisiana
LA    Louisiana
LA    Louisiana
LA    Louisiana
Name: state_name, Length: 539, dtype: object, 'zcta': state_id
LA    True
LA    True
LA    True
LA    True
LA    True
      ...
LA    True
LA    True
LA    True
LA    True
LA    True
Name: zcta, Length: 539, dtype: bool, 'parent_zcta': state_id
LA   NaN
LA   NaN
LA   NaN
LA   NaN
LA   NaN
      ..
LA   NaN
LA   NaN
LA   NaN
LA   NaN
LA   NaN
Name: parent_zcta, Length: 539, dtype: float64}, 'MA': {'zip': state_id
MA    1001
MA    1002
MA    1003
MA    1005
MA    1007
      ...
MA    2777
MA    2779
MA    2780
MA    2790
MA    2791
Name: zip, Length: 539, dtype: int64, 'state_name': state_id
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
          ...
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
MA    Massachusetts
Name: state_name, Length: 539, dtype: object, 'zcta': state_id
MA    True
MA    True
MA    True
MA    True
MA    True
      ...
MA    True
MA    True
MA    True
MA    True
MA    True
Name: zcta, Length: 539, dtype: bool, 'parent_zcta': state_id
MA   NaN
MA   NaN
MA   NaN
MA   NaN
MA   NaN
      ..
MA   NaN
MA   NaN
MA   NaN
MA   NaN
MA   NaN
Name: parent_zcta, Length: 539, dtype: float64}, 'MD': {'zip': state_id
MD    20601
MD    20602
MD    20603
MD    20606
MD    20607
      ...
MD    21918
MD    21919
MD    21920
MD    21921
MD    21930
Name: zip, Length: 477, dtype: int64, 'state_name': state_id
MD    Maryland
MD    Maryland
MD    Maryland
MD    Maryland
MD    Maryland
        ...
MD    Maryland
MD    Maryland
MD    Maryland
MD    Maryland
MD    Maryland
Name: state_name, Length: 477, dtype: object, 'zcta': state_id
MD    True
MD    True
MD    True
MD    True
MD    True
      ...
MD    True
MD    True
MD    True
MD    True
MD    True
Name: zcta, Length: 477, dtype: bool, 'parent_zcta': state_id
MD   NaN
MD   NaN
MD   NaN
MD   NaN
MD   NaN
      ..
MD   NaN
MD   NaN
MD   NaN
MD   NaN
MD   NaN
Name: parent_zcta, Length: 477, dtype: float64}, 'ME': {'zip': state_id
ME    3901
ME    3902
ME    3903
ME    3904
ME    3905
      ...
ME    4986
ME    4987
ME    4988
ME    4989
ME    4992
Name: zip, Length: 426, dtype: int64, 'state_name': state_id
ME    Maine
ME    Maine
ME    Maine
ME    Maine
ME    Maine
      ...
ME    Maine
ME    Maine
ME    Maine
ME    Maine
ME    Maine